<div [@routerTransition]>
        <app-page-header [heading]="'Editar Equipo'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <form role="form">
                <fieldset class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="teamItems.name">
                </fieldset>

                <fieldset class="form-group">
                    <label for="city">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city" required [(ngModel)]="teamItems.city">
                </fieldset>

                <fieldset class="form-group">
                    <label for="department">Departamento</label>
                    <input type="text" class="form-control" id="department" name="department" required [(ngModel)]="teamItems.department">
                </fieldset>

                <fieldset class="form-group">
                        <label for="score">Puntaje</label>
                        <input type="text" class="form-control" id="score" name="score" required [(ngModel)]="teamItems.score">
                    </fieldset>

                <a><button class="btn btn-success" (click)="editTeam()"><i class="fa fa-plus-circle"></i><span> Editar</span></button></a>
                <a routerLink="/teams"><button class="btn btn-info"><i class="fa fa-arrow-left"></i><span> Volver</span></button></a>
            </form>
        </div>
    </div>
    </div>
