.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 200px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #007bff;
        color: #dadada !important;
    }

    .file-label {
        font-size: 1.2em;
    }
  }

  .progress-bar {
    width: 100%;
    color: #28a745 !important;
  }
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }

  img {
    width: 250px
  }
